<% if (professionalSummary) { %>
<div class="yui-gf">
  <div class="yui-u first">
    <h2>Summary</h2>
  </div>
  <div class="yui-u">
    <p class="enlarge" style="color: black"><%=professionalSummary%></p>
  </div>
</div>
<% } %>
